:root{
    titulo: "Roboto", sans-serif"
}

*{
    box-sizing: content-box;
    font-size: 62.5%;
}

*,*::before,*::after{
    box-sizing: inherit;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 25rem;
    background-color: #080f28;
}

h1{
    font-size: 55rem;
}

h2{

}

h3{

}

ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a{
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
}

img{
    width: 100%;
    display: block;
}


/* utilidades */
.boton{
    background-color: #007aff;
    border-radius: 5rem;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
}


.datos__contenedor{
    display: flex;
    /* background-color: red; */
    align-items: center;
    margin: 1rem 0;
}


.dato{
    font-size: 2rem;
    color: #8da0bc;
    margin: 0;
    margin-right: 1rem;
    
    
}

.dato--font-small{
    font-size: 1.3rem;
}

.dato_calificacion{
    color: #edb709;
}

.dato_calificacion--small{
    font-size: 1.8rem;
}

.dato__rango{
    font-size: 1.5rem;
}

.dato__rango--small{
font-size: 1.3rem;
}

.centrar{
    text-align: center;
}

/* HEADER */

header{
    position: relative;
    background-color: #080F28;
    z-index: 2;
}

@media(min-width:992px){
    .header__contenedor{
        max-width: 120rem;
        width: 90%;
        margin: 0 auto;
    }
}


@media(min-width:992px){
    .header__flex{
        display: flex;   
        justify-content: space-between;
    }
}

.header__wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    max-width: 120rem;
    width: 90%;
    margin: 0 auto ;
}

@media(min-width:992px){
    .header__wrapper{
        position: unset;
        display: unset;
        /* padding: 0; */
        max-width: unset;
        width: unset;
        margin: unset;
    }
}

/* .header__contenedor-imagen{
} 

.header__link-logo{
}

.header__logo{
}
*/

.contenedor__hamburger{outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #007aff;
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 25rem;
    cursor: pointer;
}

.contenedor__hamburger:active {
    box-shadow: none !important;
}


@media(min-width:992px){
    .contenedor__hamburger{
        display: none;
    }
}

.hamburger{
    width: 45%;
}

.hamburger__bar{
    background-color: #fff;
    
    height: .4rem;
    margin-bottom: .4rem;
    border-radius: 1rem;
}

.hamburger__bar:last-child{
    margin-bottom: 0;
}

.header__contenedor-nav {
    position: absolute;
    background-color: #080f28;
    width: 25rem;
    height: 100vh; 
    padding: 0 2.5rem;
    transform: translateX(-100%);
    transition: .3s ease-in-out;
    /* overflow-y: auto;  */
    scrollbar-width: thin; /* Para Firefox */
    scrollbar-color: #4c4c4c #080f28; /* Para Firefox */
}

@media(min-width:992px){
    .header__contenedor-nav {
        transform: translateX(0%);
        position: relative;
        /* overflow: hidden; */
        width: 100%;
        height: unset;
        display: flex;
        align-items: center;
        /* background-color: red; */
        padding: unset;
    }
}

/* Estilos para Chrome y Safari */
.header__contenedor-nav::-webkit-scrollbar {
    width: 10px;
}

.header__contenedor-nav::-webkit-scrollbar-thumb {
    background-color: #4c4c4c; /* Color del thumb */
    border-radius: 5px; /* Bordes redondeados del thumb */
}

.header__contenedor-nav::-webkit-scrollbar-track {
    background-color: #080f28; /* Color de la barra de scroll */
}

.header__contenedor-nav--activar{
    transform: translateX(0%);
    transition: .3s ease-in-out;
}

/* @media(min-width:992px){
    .header__contenedor-nav{

    }
} */

.contenedor__menu{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

@media(min-width:992px){
    .contenedor__menu{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

@media(min-width:992px){
    .nav{
        width: 35rem;
        /* background-color: purple; */
        margin-left: 5rem;
        /* display: flex; */
        /* justify-content: space-around; */
    }
}

@media(min-width:992px){
    .menu__lista{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu__item{
    position: relative; 
    margin-top: 3rem;
    padding-bottom: 2rem;
    border-bottom: .1rem solid #053970;
}

@media(min-width:992px){
    .menu__item{
        margin: 0;
        padding: 0;
        border-bottom: unset;
    }
}

.menu__link{
    font-size: 1.6rem;
    /* font-weight: 900; */
    display: flex;
    align-items: center;
    transition: .3s ease-in-out;
}

@media(min-width:992px){
    .menu__link:hover{
        color:#007aff;
    }
}

.menu__link-icon-down{
    width: 1.5rem;
    margin-left: .5rem;
}

.sub-menu__item{
    margin-top: 1.5rem;
}

@media(min-width:992px){
    .sub-menu__item {
        padding: 1rem 0;
        border-radius: .5rem;
        margin: 0;
        /* width: 10rem; */
        /* background-color: red; */
    }

    .sub-menu__item:hover {
        background-color: #080f28;
        /* padding: 1rem 0; */
    }

    .sub__menu-link{
        display: block;
        padding: 0 .5rem;
        margin: 0;
    }
}

.sub-menu{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* gap: 2rem; */
    margin-left: 2rem;
    /* background-color: red; */
}

@media(min-width:992px){

    .sub-menu {
        display: none; 
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #0e193f;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
        /* column-gap: 4rem; */
        /* row-gap: 1rem; */
    }
    
    .menu__item:hover .sub-menu{
        display: unset;
    }
    
    .menu__item:last-child:hover .sub-menu{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        /* grid-template-columns: repeat(2,1fr); */
    }
    
        /* .menu__item:hover .sub-menu {
            display: block; /* Muestra el submenú al pasar el ratón por encima */
        /* } */
    
        .sub-menu__item{
            white-space: nowrap;
            width: 12rem;
        }
    }

.sub__menu-link{
    font-size: 1.5rem;
    color: #949494;
}


.form__busqueda{
    display: flex;
    flex-direction: row-reverse;
    border-radius: 5rem;
    border: .1rem solid #007aff;
    padding: .5rem 1rem;
}


  
.form__contenedor-boton{
    flex-basis: 2.5rem;
}

.btn__search{
    all: unset;
    /* background-color: purple; */
    
    cursor: pointer;
}

.form__input-busqueda{
    all: unset;
    color: #fff;
    /* background-color: red; */
    flex-grow: 1;
    transition: .3s ease-in-out;
}

@media (min-width: 992px) {
    .form__input-busqueda{
        width: 15rem;
    }
    .form__input-busqueda:focus{
      width: 20rem;
    }
}

/* ****** */
/*  HERO  */
/* ****** */

.hero{
    position: relative;
    height: 60rem;
}

@media(min-width:768px){
    .hero{
        height: 50rem;
    }
}

.hero__contenedor-imagen{
    position: absolute;
    min-height: 100%;
    height: inherit; /* Hereda la altura del contenedor .hero */
    width: 100%;
}

.hero__imagen{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.1), rgba(8, 15, 40, 1));
}

.hero__contenedor-imagen::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;

}

.hero__contenedor{
    position: relative;
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    min-height: 100%;
    height: inherit;
    /* background-color: red; */
    display: flex;
    align-items: center;

}

/* .hero__contenido{
} */

.hero__titutlo{
    font-family: var(titulo);
    font-weight: 800;
    color: #ffffff;
    font-size: 4.3rem;
    margin: 0;
    display: block;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.hero__titutlo:hover{
    transform: scale(1.04);
}

@media(min-width:992px){
    .hero__titutlo{
        font-size: 5.8rem;
    }
}

.hero__genero{
    display: inline-block;
    vertical-align: middle;
    background-color: #edb709;
    color: #000;
    font-size: 1rem;
    padding: .3rem;
    border-radius: 5rem;
}

.hero__descripcion{
    color: #8da0bc;
    margin: 0;
    font-size: 2rem;
    line-height: 1.8;
}


/* ***************** */
/*  LISTA PELICULAS */
/* ***************** */

.peliculas{
    position: relative;
}

@media(min-width:768px){
    .peliculas{
        margin-top: 5rem;
    }
}

.peliculas__contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

.peliculas__titulo{
    color: #8da0bc;
    font-size: 3rem;
    text-align: center;
    margin: 0;
}

@media(min-width:768px){
    .peliculas__flex{
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 2rem;
    }
}

@media(min-width:992px){
    .peliculas__flex{
        grid-template-columns: 5fr 2fr;
        gap: 2rem;
    }
}

.seccion__peliculas{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-inferior{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width:992px){
    .menu-inferior{
        /* flex-direction: row; */
        align-items: baseline;
        width: 100%;
    }
}

.menu-inferior__titulo{
    margin: 0;
    color: #fff;
    font-size: 2.5rem;
}

.menu-inferior__lista{
    margin-top: 1.5rem;
}

.menu-inferior__link{
    margin-left: 2rem;
    font-size: 1.6rem;
    border-bottom: .3rem solid transparent;
    padding-bottom: .7rem;
    transition: .3s ease-in-out;
    text-transform: uppercase;
    color: #8da0bc;
}

.menu-inferior__link:first-child{
    margin-left: 0;
}

@media(min-width:992px){
    .menu-inferior__link:first-child{
        margin-left: 0;
    }   
}

.menu-inferior__link--activo{
    border-bottom: .3rem solid #edb709;
    font-weight: 500;
    color: #fff;
}

.peliculas__lista{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    margin-top: 5rem;
    width: 100%;
}

@media(min-width:600px){
    .peliculas__lista{
        grid-template-columns: repeat(3,1fr);
    }
}

@media(min-width:768px){
    .peliculas__lista{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(min-width:992px){
    .peliculas__lista{
        grid-template-columns: repeat(4,1fr);
    }
}

/* ****************/
/*      card      */
/* ****************/

.card{
    position: relative;
    transition: transform 0.3s ease-in-out;
    /* background-color: purple; */
    margin-bottom: 1.5rem;
    border-radius: .5rem;
    z-index: 1;
}

.card:hover {
    transform: scale(1.05);
    /* box-shadow: 0 0 5rem #136296; */
    z-index: 2;
}

.card__body{
    position: relative;
    /* background-color: red; */
    /* width: 10rem; */
    /* height: 30rem; */
}

.card__enlace{

}

.card__informacion{
    position: relative;
    /* background-color: red; */
}

.card__contenedor-imagen{
    position: relative;
    /* background-color: red; */
    z-index: 1;
}

.card__contenedor-imagen::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    opacity: 0; /* Empieza con opacidad 0 para que no sea visible al principio */
    transition: opacity 0.3s ease; /* Transición suave de la opacidad */
}

.card:hover .card__contenedor-imagen::before {
    opacity: 1; /* Cuando se hace hover, la opacidad cambia a 1 */
}


.card:hover .card__contenedor-imagen::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../img/play-white.png');
    background-repeat: no-repeat;
    background-size: 8rem;
    background-position: center center;
    z-index: 3;
}

.card__imagen{
    position: relative;
    border-radius: .5rem;
    /* min-height: 100%; */
    height: 26rem;
    /* height: auto; */
    width: 100%;
    object-fit: cover;
}

.card__year{
    position: absolute;
    bottom: 0rem;
    right: 1.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    /* width: 4.5rem; */
    text-align: center;
    border-radius: 5rem;
    background-color: #007aff;
    padding: .4rem 1rem .2rem 1rem;
    /* line-height: 0; */
}

.card__descripcion{

}

.card__descripcion{
    display: none;
}

@media(min-width:992px){
    .card__descripcion{
        position: absolute;
        display: none;
        top: 50%;
        transform: translateY(-50%) translateX(30%);
        width: 30rem;
        /* height: 10rem; */
        background-color: #0e193f;
        border-radius: .3rem;
        padding: 1.5rem;
        z-index: 2;
    }
    .card:not(:hover) .card__descripcion {
        display: none;
    }
    .card:hover .card__descripcion{
        display: unset;
        pointer-events: none;
    }
}

.card__descripcion-titulo{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

.card__sinopsis{
    font-size: 1.3rem;
    line-height: 1.5;
    margin-top: 0;
    color: #8da0bc;
}

.card__atributo{
    color: #8da0bc;
    font-size: 1.3rem;
    line-height: 1.5;
}

.card__genero{

}

.card__actores{

}

.card__propiedad{
    color: #fff;
    font-size: 1.3rem;
}

.card__titulo{
    font-size: 1.7rem;
    margin: 1.5rem 0 0 0 ;
    text-align: center;
}

.card:hover .card__titulo{
    color: #007aff;
}






.pelicula__formulario{
    margin-top: 2.5rem;
}


/* *************** */
/*      ASIDE      */
/* *************** */


.destacadas{
    margin: 5rem 0;
}

.menu-inferior__titulo--color{
    color: #8da0bc;
}

.menu-inferior__lista--grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    width: 100%;
    gap: 2rem;
}

.contenedor__lista{
    margin-top: 5rem;
    display: grid;
    gap: 1rem;
}

.card__informacion--aside{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
}

.card__imagen--aside{
    height: auto;
}

.card__descripcion--aside{
    display: block;
}

/* ****************** */
/*       FOOTER       */
/* ****************** */
 
.footer{
    margin-top: 5rem;
    position: relative;
    background-color: #0e193f;
    padding: 2rem 0;
}

@media(min-width:992px){
    .footer{
        padding: 1rem 0;
    }
}

.footer__contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;

}

@media(min-width:992px){
    .footer__flex{
        /* display: flex;
        justify-content: space-between;
        align-items: center; */
        display: grid;
        grid-template-columns: repeat(3,1fr);
        align-items: center;
    }
}

.footer__contenedor-imagen{    
    display: flex;
    justify-content: center;
}

@media(min-width:992px){
    .footer__contenedor-imagen{
        display: unset;
    }
}

.footer__logo{
    width: 20rem;
}

.footer__lista-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: none; */
}

@media(min-width:768px){
    .footer__lista-menu{
        flex-direction: row;
        justify-content: center;
        
    }
}

.footer__menu-item{
    margin-top: 2.5rem;
}

@media(min-width:768px){
    .footer__menu-item{
        margin-right: 4rem;
    }
    
    .footer__menu-item:last-child{
        margin-right: 0;
    }
}

@media(min-width:992px){
    .footer__menu-item{
        margin-top: 0;
    }
}

.footer__menu-link{
    font-size: 1.5rem;
}

.footer__redes{
    display: flex;
    justify-content: center;
    margin: 4rem 0;
}

@media(min-width:992px){
    .footer__redes{
        margin: 0;
    }
}

.footer__lista-redes{
    width: 15rem;
    display: flex;
    justify-content: space-between;
}

.footer__item-red{
    width: 3.5rem;
}

.footer__imagen-red{
    width: 100%;
}





.footer__derechos-reservados{
    font-size: 1.3rem;
    color: #8da0bc;
    margin: 0;
    line-height: 2;
    text-align: center;
}

.footer__year{
    font-size: 1.4rem;
}